<p id="notice"><%= notice %></p>

<h1>Apartments</h1>
<br>

<form action="basic_search" method="get">
  <input type="text" name="search" placeholder="">
  <input type="submit" name="submit" value="Search">
</form>

<br>
<%= render 'table' %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Apartment', new_apartment_path %>
  <br>
  <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
  <br>
  <% if current_user.has_role? :admin %>
      <%= link_to 'Go to admin panel', admin_path %>
      <% end %>
<% else %>
  <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %>
  <br>
  <%= link_to 'Log in', new_user_session_path %>
</br>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
